@page "/workaround"
@using System.IO

<h1>Upload</h1>

<BlazorServerFileUploadProgressTest.Components.Progress @bind-Percent="uploadProgress" />

<InputFile OnChange="HandleFileSelected" />
@if (picture != null)
{
    <img src="data:image/jpeg;base64,@picture" style="max-height: 200px; max-width: 200px;" />
}

@code {
    private string picture;
    private int uploadProgress = -1;

    async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var bufferSize = 1024;
        var buffer = new byte[bufferSize]; // read in chunks of 2KB

        using (var inputFileStream = file.OpenReadStream(file.Size))
        using (var memoryFileStream = new MemoryStream())
        {
            int bytesRead;
            var lastUploadProgress = uploadProgress;
            while ((bytesRead = await inputFileStream.ReadAsync(buffer)) > 0)
            {
                memoryFileStream.Write(buffer, 0, bytesRead);
                uploadProgress = (int)((float)memoryFileStream.Length / file.Size * 100);

                if (uploadProgress > lastUploadProgress + new Random().Next(10, 20))
                {
                    lastUploadProgress = uploadProgress;
                    StateHasChanged();
                }
            }

            var data = memoryFileStream.ToArray();
            picture = Convert.ToBase64String(data);
        }

        uploadProgress = -1;
        StateHasChanged();
    }
}